---
http_interactions:
- request:
    method: post
    uri: https://toolbox-api.private.fin.ag/v3/<FLINKS_CUSTOMER_ID>/BankingServices/GenerateAuthorizeToken
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Flinks-Auth-Key:
      - c4569c54-e167-4d34-8de6-f4113bc82414
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"HttpStatusCode":200,"Token":"12324005-aeda-49b0-b7c5-14e8856788a6"}'
  recorded_at: Tue, 14 Apr 2026 17:23:31 GMT
- request:
    method: post
    uri: https://toolbox-api.private.fin.ag/v3/<FLINKS_CUSTOMER_ID>/BankingServices/Authorize
    body:
      encoding: UTF-8
      string: '{"Institution":"FlinksCapital","Username":"bad","Password":"bad","MostRecentCached":true,"Save":true}'
    headers:
      Content-Type:
      - application/json
      Flinks-Auth-Key:
      - 12324005-aeda-49b0-b7c5-14e8856788a6
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"HttpStatusCode":500,"Accounts":null,"FlinksCode":"AGGREGATION_ERROR"}'
  recorded_at: Tue, 14 Apr 2026 17:23:39 GMT
recorded_with: VCR 6.4.0
