---
http_interactions:
- request:
    method: post
    uri: https://toolbox-api.private.fin.ag/v3/<FLINKS_CUSTOMER_ID>/BankingServices/GenerateAuthorizeToken
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Flinks-Auth-Key:
      - "<FLINKS_AUTH_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"HttpStatusCode":200,"Token":"2942ca14-3790-4440-8b0c-ab30ae13afa0"}'
  recorded_at: Tue, 14 Apr 2026 18:02:32 GMT
- request:
    method: post
    uri: https://toolbox-api.private.fin.ag/v3/<FLINKS_CUSTOMER_ID>/BankingServices/Authorize
    body:
      encoding: UTF-8
      string: '{"Institution":"FlinksCapital","Username":"<FILTERED>","Password":"<FILTERED>","MostRecentCached":true,"Save":true}'
    headers:
      Content-Type:
      - application/json
      Flinks-Auth-Key:
      - 2942ca14-3790-4440-8b0c-ab30ae13afa0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"HttpStatusCode":200,"Links":[{"rel":"AccountsDetail","href":"/GetAccountsDetail","example":null},{"rel":"AccountsSummary","href":"/GetAccountsSummary","example":null},{"rel":"Statements","href":"/GetStatements","example":null}],"InstitutionName":"FlinksCapital","Login":{"Username":"<FILTERED>","IsScheduledRefresh":false,"LastRefresh":"2026-04-14T06:46:23.4081214","Type":"Personal","Id":"3e066c21-5e59-479c-296d-08de99621eaf"},"InstitutionId":14,"Institution":"FlinksCapital","RequestId":"4811fa41-e76f-48be-8702-f9a9578b18d1"}'
  recorded_at: Tue, 14 Apr 2026 18:02:34 GMT
recorded_with: VCR 6.4.0
