---
http_interactions:
- request:
    method: post
    uri: https://toolbox-api.private.fin.ag/v3/<FLINKS_CUSTOMER_ID>/BankingServices/GenerateAuthorizeToken
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Flinks-Auth-Key:
      - "<FLINKS_AUTH_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"HttpStatusCode":200,"Token":"37562f37-9893-410b-a73a-2e9caecfb991"}'
  recorded_at: Tue, 14 Apr 2026 18:02:32 GMT
recorded_with: VCR 6.4.0
