# Name of your application. Used to uniquely configure containers.
service: budgetr

# Name of the container image.
image: nurey/budgetr

# Deploy to these servers.
servers:
  web:
    hosts:
      - 168.235.69.227
    options:
      network: "private"

# Credentials for your image host.
registry:
  # Specify the registry server, if you're not using Docker Hub
  # server: registry.digitalocean.com / ghcr.io / ...
  username: ilia@nurey.com

  # Always use an access token rather than real password when possible.
  password:
    - KAMAL_REGISTRY_PASSWORD

env:
  clear:
    DB_HOST: 168.235.69.227
    POSTGRES_USER: budgetr_app
    POSTGRES_DB: banking_production
    CORS_ORIGINS: https://budgetr-app.nurey.com
    WEB_CONCURRENCY: "auto"
  secret:
    - RAILS_MASTER_KEY
    - POSTGRES_PASSWORD

# Use a different ssh user than root
ssh:
  user: ilia

# Configure builder setup.
builder:
  arch: amd64
#remote: ssh://ilia@168.235.69.227
  local: true

# Use accessory services (secrets come from .env).
accessories:
  db:
    image: postgres:16
    host: 168.235.69.227
    port: 5432
    env:
      clear:
        POSTGRES_USER: 'budgetr_app'
        POSTGRES_DB: 'banking_production'
      secret:
        - POSTGRES_PASSWORD
    files:
      - config/init.sql:/docker-entrypoint-initdb.d/setup.sql
    directories:
      - data:/var/lib/postgresql/data
    options:
      network: "private"

# Configure Kamal Proxy
proxy:
  ssl: true
  host: budgetr.nurey.com
  app_port: 3000
